$color-mickey: #FF0000;
$color-donald: #0B95CE;
$color-goofy: #9EFA4B;
$color-pluto: #FFC300;

$light: #f5f5f5;
$dark: #202020;

$background-socal: $color-mickey;
$background-deluxe: $color-goofy;
$background-sig: $color-pluto;
$background-sigplus: $color-donald;

$foreground-socal: $dark;
$foreground-deluxe: $dark;
$foreground-sig: $light;
$foreground-sigplus: $light;
