@import 'bootstrap/scss/bootstrap-reboot.scss';

@import './_colors.scss';
@import './_mixins.scss';

// Mobile-first, so `xs` starts here
// Four levels of passports:
// Southern California Select:   .socal
// Deluxe:                       .deluxe
// Signature:                    .sig
// Signature Plus:               .sigplus

// Hide the page initially until all of the JS downloads and has a chance to run
body {
  display: none;
}

// 1 x 4 grid
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 25vh;
}

.passport {
    height: 100%;
    // Place content in the center
    display: flex;
    justify-content: center;
    align-items: center;

    &.--socal {
        background-color: $background-socal;
        color: $foreground-socal;
        @include characterBackground(goofy, $posX: 10%);
    }
    &.--deluxe {
        background-color: $background-deluxe;
        color: $foreground-deluxe;
        @include characterBackground(donald);
    }
    &.--sig {
        background-color: $background-sig;
        color: $foreground-sig;
        @include characterBackground(pluto);
    }
    &.--sigplus {
        background-color: $background-sigplus;
        color: $foreground-sigplus;
        @include characterBackground(mickey);
    }

    .yesno {
        font-size: 6em;
        text-transform: uppercase;
        text-shadow: 2px 2px rgba(0,0,0,0.3);
    }

    .passportName {

    }
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    // 2 x 2 grid
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 50vh;
    }
}
